# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Classes/IntegerExample
ClassesWithHeader/main
ClassesWithHeader/test
ExampleWithHeaders/Functions/Constant
ExampleWithHeaders/Functions/Demo
ExampleWithHeaders/Functions/Functions
OOP/SimpleMethodInheritance
OOP/SingleLevelInheritance
Pointer/PointerExamp
ExampleWithHeaders/Exampe 2/Main
OOP/Example1
OOP/MultilevelInheritance
OOP/MultipleInheritance
OOP/Shape
OOP/HybridInheritance
OOP/AmbiquityResolutionInheritance
OOP/FunctionOverridingExample1
OOP/CallingSuperConstrucrorExample1
OOP/Dynamiclinkage
OOP/FunctionOverridingExample
OOP/CallingSuperConstructorExample2
OOP/SuperMethodExample1
OOP/SuperMethodExample2
Abstraction/SimpleAbstracteClass
Abstraction/AbstractClassExample1
OOP/Abstraction/AbstractClassExample1
OOP/Abstraction/SimpleAbstracteClass
OOP/Polymorphism/PolymorphismExample
